.classify {
  max-width: 640px;
  max-height: 10rem;
  margin: 0  auto;
  position: relative;
  font-size: 15px;
  font-family: Microsoft Yahei,Helvetica,Arial;
}
.classify a{
  text-decoration: none;
}

/* 头部搜索 */
.searchBar {
  position:fixed;
   left:0;
  top:0;
  background-color:#e70002;
  width:100%;
  height:0.88rem;
  z-index:900;

}
.searchInner {
  position:relative;
  height:0.88rem;
  width:100%;
  overflow:hidden;
}
.searchWrap {
  margin:0 0.66rem 0 1.94rem;
}
.searchBar h1 {
  position:absolute;
  left:0;
  top:0;
  height:0.6rem;
  margin-top:0.14rem;
}
.searchBar h1 img {
  width:1.84rem;
}
.searchBar  .searchWrap  {
  height:0.6rem;
  margin-top:0.14rem;
  border-radius:0.6rem;
  line-height:0.6rem;
  background:#fff;
}
.searchBar .searchWrap span {
  color:#8e8e8e;
  font-size:0.24rem;
  display:block;
  text-indent:0.2rem;
}
.searchBar .searchBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.6rem;
  height: 0.88rem;
  text-indent: -999px;
  overflow: hidden;
  font-size: 0;
  background: url('../images/classify/seach.png') no-repeat center;
  background-size: 0.34rem 0.34rem;
}



.classify .menu-left {
  width: 1.6rem;
  height: 10rem;
  position: absolute;
  top: 1rem;
  left: 0;
  /* background-color: #F3F3F3; */
  overflow: hidden;
}

.classify .menu-left  .on{
  background-color: #F3F3F3;
  border-left: 1px solid red;
  color: red
}

.classify .menu-left .menu-left-li {
  width: 1.6rem;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.16rem
}

.classify .menu-right {
  width: 4.8rem;
  height: 10rem;
  position: absolute;
  top: 1rem;
  left: 1.6rem;
  overflow: hidden;

}

.classify .menu-right .swiper-container {
  width: 4.4rem;
  height: 2rem;
  text-align: center;
  margin-top: 0.2rem
}

.menu-right .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;

}

.swiper-slide img {
  width: 4.4rem;
  height: 2rem
}

.menu-right  .hotLink {
  width: 4.4rem;
  height: 1.1rem;
  margin: 0.2rem auto;
  display: flex;
  justify-content: space-between;
}



.menu-right .hotLink  div {
  width: 2.1rem;
  height: 1.1rem;
 
}

.menu-right .hotLink img {
  width: 2.1rem;
  height: 1.1rem;
}

/* tab图书部分 */
.menu-right-content{
  width: 4.8rem
}

.menu-right-content .content-item ul {
  overflow: hidden;
  padding: 0 0.1rem;
  padding-bottom: 0.2rem;
}

.menu-right-content .content-item ul li {
  float: left;
  /* padding: 0 0.1rem; */
  width: 33.3333%;
  text-align: center; 
  margin-top: 0.2rem;
}


.menu-right-content .content-item ul li .cover {
  height: 1.35rem;
}

.content-item ul li .cover img {
  height: 1.35rem;
  background: #fff;
  font-size: 0.12rem;
  text-align: center;
}

.content-item ul li span {
  display: block;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.12rem;
}